{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/workshop_list.css' %}">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container main-content mt-4">
    <h1 class="text-center mb-5">Product List</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-6 mb-4">
            <div class="card shadow-sm">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top img-fluid rounded-circle mx-auto d-block mt-3" style="width: 150px; height: 150px; object-fit: cover;" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title text-center">{{ product.name }}</h2>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text"><strong>Price:</strong> €{{ product.price }}</p>
                    <p class="card-text"><strong>Duration:</strong> {{ product.duration }}</p>

                    {% if product.events.exists %}
                    <form method="post" action="{% url 'add_to_bag' product.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="eventSelect">Choose Date & Time:</label>
        <select class="form-control" id="eventSelect" name="event">
            {% for event in product.events.all %}
            <option value="{{ event.id }}">{{ event.start_time|date:"D, M j, Y g:i A" }} at {{ event.location }}</option>
            {% endfor %}
        </select>
    </div>

    <input type="hidden" name="redirect_url" value="{{ request.path }}">
    <button type="submit" class="btn btn-primary btn-block mt-3">Add to Bag</button>
</form>

                    {% else %}
                    <p class="text-danger text-center">No available events for this product.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">No products available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
